@media (min-width: 500px) and (max-width: 700px) {
  [class*="col-"] {
 		width: 100%
 	}
  .boton1, .boton2, .boton3, .boton4 {
    display: none;
  }
  .link1 {
    padding-left: 1em;
  }
  .link1, .fa-bars {
    display: inline-block;
  }
  .icono {
    width: 55%;
    display: inline-block;
    text-align: right;
  }
  .fa-bars {
    color: white;
  }
  .descripcion {
    margin-left: 24%;
  }
  .descripcion, .descripcion1, .descripcion2 {
    max-width: 50%;
  }
}
